body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI' , 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Roboto', 'Courier New',
  sans-serif, monospace;
}
.my-container{
  height: calc(100vh - 64px);
}
.my-container > div{
  background-color: whitesmoke;
}

input:focus{
  border-bottom: 3px solid #673ab7 !important;
  box-shadow: none !important;
}
